/* Had before (not showing 1st line which is status)
.workspace-leaf-content[data-type=markdown] .metadata-container:hover .metadata-content,
.workspace-leaf-content[data-type=markdown] .frontmatter-container:hover .metadata-content {
	display: block;
}

.workspace-leaf-content[data-type=markdown] .metadata-container .metadata-content,
.workspace-leaf-content[data-type=markdown] .frontmatter-container .metadata-content {
	display: none;
} */

/* Hide Properties and show on Hover */
.markdown-preview-view, .markdown-source-view { /* Both edit and preview mode */
    .metadata-container {             
        max-height: 2.7rem;             
        opacity: 0.6;             
        overflow: hidden;             
        transition: max-height 250ms ease-in-out, opacity 250ms;
        margin-bottom: 0;         
    }
    .metadata-container:hover,
    .metadata-container:focus-within {
         max-height: 2000px;
         opacity: 1;
         transition: max-height 300ms ease-in-out, opacity 300ms;         
    }
}
